@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #000000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
p {
    color: ghostwhite;   
}
.profile {
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 5%; bottom: 5%;
    right: 5%; left: 5%;
    margin: auto;
}
.profile p {
    width: 55%;
}
.file-name {
    padding-left: 40px; padding-top: 30px;
    padding-bottom: 0px;
    font-size: 12px;
    font-family: 'Courier New', monospace;
}

.avatar {
    border-radius: 50%;
    height: 300px;
    position: absolute;
    top: 5%; right: 15%;
}
.rpc {
    position: absolute;
    top: 70%; right: 5%;
}
.content {
    padding-left: 40px;
    padding-top: 30px;
    font-size: 15px;
}
.socials {
    padding-left: 40px
}
.content .title {
    color: #1f1f25;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 5px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1 {
    font-size: 30px;
}
.content span{
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials img{
    border-radius: 50%;
    height: 30px;
    padding: 5px;
}